* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: dodgerblue;
}

.hero {
    background-image: url('../images/bulbs.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    width: 100vw;
    height: 100vh;

}
.quote {
    position: absolute;
    bottom: -100px;
    right: 16px;
    line-height: 2.4; 
    font-size: xx-large;
    color: rgb(18, 142, 18);
    text-shadow: 1.5px 1.5px black;
    font-weight: bolder;
    
}
header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    padding: 20px 35px;
}
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}